In [13]:
import numpy as np
import pandas as pd

In [17]:
df=pd.read_csv("cheese.csv")
df

          version https://git-lfs.github.com/spec/v1
0  oid sha256:56dbe9d5ed911db6142c5b946bbd4ecc98d...
1                                           size 619

In [15]:
df.head()

   case  taste  acetic    H2S  lactic
0     1   12.3   4.543  3.135    0.86
1     2   20.9   5.159  5.043    1.53
2     3   39.0   5.366  5.438    1.57
3     4   47.9   5.759  7.496    1.81
4     5    5.6   4.663  3.807    0.99

In [16]:
print(df.shape)

(30, 5)