In [18]:
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv("linear_home_data2.csv")
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  680000
4  4000      5.0    8   75000

In [2]:
df.bedroom.median()

3.5

In [6]:
import math
median_bedroom = math.floor(df.bedroom.median())
median_bedroom

3

In [8]:
df.bedroom.fillna(median_bedroom)

0    3.0
1    4.0
2    3.0
3    3.0
4    5.0
Name: bedroom, dtype: float64

In [19]:
df.bedroom = df.bedroom.fillna(median_bedroom)
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  680000
4  4000      5.0    8   75000

In [21]:
df[['area', 'bedroom', 'age']]

   area  bedroom  age
0  2600      3.0   20
1  3000      4.0   15
2  3200      3.0   18
3  3600      3.0   30
4  4000      5.0    8

In [13]:
reg = linear_model.LinearRegression();
reg.fit(df[['area', 'bedroom', 'age']], df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
reg.coef_

array([  -132.625, -83137.5  ,  14962.5  ])

In [15]:
reg.intercept_

957987.4999999995

In [24]:
reg.predict([[3000,2,40], [4000,3,40]])

array([992337.5, 776575. ])